<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <% if current_user.manager? %>
    <%= button_to "Delete Item", @item, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
