<h1>User Management</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.role || "employee" %></td>
      <td>
        <%= link_to "Edit Role", edit_admin_user_path(user) %>
      </td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to "Back to Items", items_path %>
